.form-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.materialContainer {
  width: 100vw;
  height: 100vh;
  background-color: #F47B97;
}

.box {
  margin: 10px;
  position: relative;
  padding: 40px 50px 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);

  background-color: #840B27;
}

.title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  margin-bottom: 30px;
  text-align: center;
}

.subtitle {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ED2553;
  margin-top: 30px;
  text-align: center;
}

.input {
  position: relative;
  margin-bottom: 25px;
  font-size: 14px;
  color: #999;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button {
    --background: #ED2553;
    --color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    margin: 2px;
  }
}

.button_icon {
	font-size: 24px;
	margin-left: auto;
}

