<div class="materialContainer d-flex flex-column justify-content-center align-items-center">

  <div class="box d-flex flex-column justify-content-center align-items-center">
    <img class="logo" src="./../../../assets/img/logo.svg" alt="" height="60px" >
    
    <div class="subtitle">Tabla didáctica de idiomas</div>
    <span class="amarillo"> Agradecimientos: </span>
    <span class="starring"> <i class="fa fa-star amarillo"></i> Haley Seifert <img src="../../../assets/img/en.png" alt="" height="75%"></span>
    <span class="starring"> <i class="fa fa-star amarillo"></i> Nathalia Pinheiro  <img src="../../../assets/img/pt.png" alt="" height="75%"> </span>
  </div>

  <div class="box d-flex flex-column justify-content-center align-items-center">
    <div class="title">BIENVENIDO</div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="needs-validation" novalidate>
      <div *ngIf="alert !== ''" class="alert alert-danger">
        {{ alert }}
      </div>

      <div class="input form-floating">
        <label for="floatingInput">Correo</label>
        <input formControlName="mail" name="mail" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" value="{{ mail }}" (keyup.enter)="login()" />
        <span class="spin"></span>
        <div *ngIf="loginForm.get('mail')?.invalid && (loginForm.get('mail')?.dirty || loginForm.get('mail')?.touched)" class="alert alert-danger">
          {{ loginForm.get('mail')?.hasError('required') ? 'Ingresá tu correo.' : 'Ingresá un correo válido.' }}
        </div>
      </div>

      <div class="input form-floating">
        <label for="floatingPassword">Contraseña</label>
        <input formControlName="pass" name="pass" type="password" class="form-control" id="floatingPassword" placeholder="Password" value="{{ pass }}" (keyup.enter)="login()" />
        <span class="spin"></span>
        <div *ngIf="loginForm.get('pass')?.invalid && (loginForm.get('pass')?.dirty || loginForm.get('pass')?.touched)" class="alert alert-danger">
          {{ loginForm.get('pass')?.hasError('required') ? 'Ingresá tu contraseña.' : 'Mínimo 6 caracteres.' }}
        </div>
      </div>

      <div class="button login">
        <ion-button class="w-100 py-2 mb-3" type="submit">
          <span>Iniciar sesión</span> 
          <i class="button_icon fa fa-check"></i>
        </ion-button>
      </div>
    </form>

    <div class="d-flex justify-content-center align-items-center">
      <div class="button">
        <ion-button class="margen" (click)="buttonDemoUno()">Admin</ion-button>
        <ion-button (click)="buttonDemoDos()">Pruebas</ion-button>
        <ion-button (click)="buttonDemoTres()">Usuario</ion-button>
      </div>
    </div>

  </div>

</div>