ion-content {
  --background: #A7EAA2 ; // Color de fondo específico para el contenido
  font-family: 'Roboto', sans-serif;
}

.texto {
  color: #1F4D2E;
}

ion-button {
  --background: #76C885;
  --color: #FFFFFF;
}

.primary {
  --background: #A7EAA2;
  --ion-color-primary: #A7EAA2;
  --ion-color-primary-contrast: #1F4D2E;
}

.secondary {
  --background: #76C885;
  --ion-color-secondary: #76C885;
  --ion-color-secondary-contrast: #FFFFFF;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .fab-container {
    position: fixed;
    bottom: 100px;
    right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .fab-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;
    transition: transform 0.3s, opacity 0.3s;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
  }
  
  .fab-buttons.open {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
  
  .fab-sub-button {
    margin-bottom: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .fab-sub-button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

