<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">

      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="secondary">
    <ion-card-header>
      <ion-card-subtitle>

      </ion-card-subtitle>
      <ion-card-title>

      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="container-fluid d-flex justify-content-center align-items-center full-width">

      <img src="../../assets/img/logo.svg" alt="Sword" height="100px" > 

    </ion-card-content>
  </ion-card>
  
  <div class="container-fluid d-flex justify-content-center align-items-center full-width">

    <ion-button (click)="logout()"><img src="../../assets/img/logout.svg" alt="" height="40px"></ion-button>
  
  </div>