@import '../components/login/login.page.scss';

ion-content {
  --background: #F47B97;

  .floating-buttons {
    ion-fab-list {
      display: flex;
      flex-direction: column;
      align-items: center;  // Centramos los botones extendidos
    }

    ion-fab-button {
      --background: #ED2553;
      margin-left: 1vh;
      margin-bottom: 1vh;
      margin-right: 1vh;
      margin-top: 1vh;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }

  .button-grid {
    height: 100%;
    ion-grid {
      height: 100%;
    }

    ion-row {
      height: 33.33%; // Ocupa un tercio de la pantalla
    }

    ion-button.large-btn {
      width: 100%;
      height: 100%;
      font-size: 24px;
      background-color: #840B27;
    }


  }
}

@media (orientation: landscape) {
  .button-grid ion-row {
    height: 50%; 
  }
}

.test {
  margin-right: 1vh;
}

@media (orientation: landscape) {
  .button-grid ion-row {
    height: 50%; // En modo landscape los botones ocupan la mitad del alto
  }

  ion-button.large-btn {
    width: 100%;
    height: 100%;
    font-size: 18px; // Ajusta el tamaño de la fuente si es necesario
  }

  ion-button.large-btn img {
    width: 80px;
    height: 80px;
  }
}









/* #container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
} */